body {
  background-color: #e2e2e0;
}

h2 {
  text-transform: uppercase;
  font-size: 22px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

#header {
  width: 920px;
  padding: 20px;
  background-color: #10b4d1;
  text-transform: uppercase;
  font-size: 22px;
}

#nav {
  width: 960px;
  padding: 15px 20px;
  background-color: #e2e2e0;
}

.item-evi {
  float: left;
  width: 280px;
  padding: 20px;
  background-color: #f7f7f7;
}

#footer {
  width: 960px;
  margin: 0 auto;
}
.footer1 {
  margin: auto;
  float: left;
  width: 280px;
  padding: 20px;
  background-color: #f7f7f7;
}

#mes-full {
  width: 920;
  padding: 20px;
  clear: both;
  background: #e2e2e0;
  font-size: 28px;
}

.last-space {
  width: 920;
  padding: 10px;
  clear: both;
  background: #e2e2e0;
}

#content {
  width: 620px;
  padding: 20px;
  float: left;
  background-color: #f7f7f7;
}

#content .articolo {
  border-bottom: 1px solid black;
  min-height: 190px;
  padding: 0px 0 10px 0;
}

#content .articolo img {
  float: left;
  margin: 0 20px 0 0;
}
#sidebar {
  width: 260px;
  padding: 20px;
  height: 439px;

  float: left;
  text-align: center;
  background-color: #f7f7f7;
}

#sidebar a {
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

#form {
  width: 960px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.intestazione {
  text-align: center;
  padding: 10px;
}

.iscrizione {
  padding: 20px;
  width: 800px;
}

input[type="text"],
input[type="submit"] {
  width: 920px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 16px;
}

input[type="submit"] {
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 0 380px 5px 380px;
  background-color: #04aa6d;
  color: white;
  border: none;
}
